*{
  padding:  0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;

}


nav{
  background-color: #02343f;
  color: #f0edcc;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
nav span{
  font-size: 32px;
  color: red;
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
}
nav li{
  transition: all 0.4s ease;
}
nav li:hover{
  background-color: #f0edcc;
  padding:5px 10px;
  color: #02343f;
  cursor: pointer;
}
main{
  background-color: #f0edcc;
}
main .hero-area{
  background: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.575)), url(images/bg-3.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
  color: #f0edcc;
  padding: 100px;
}
.hero-area h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f0edcc;
}
.hero-area small{
  color: #f0edcc;
  text-transform: uppercase;
  font-weight: 700;
}
#about-sect{
  margin-top: 50px;
}
#about-sect h1{
  color: #02343f;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}
.about{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.about .about-text{
  flex: 1;
  width: 100%;

}
.about-text p{
  margin: auto;
  max-width: 500px;
  line-height: 2rem;
}
.about .about-images{
  flex: 1;
  height: 300px;
}
.about-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#services h1{
  text-align: center;
}
.cards{
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 20px;
  flex-wrap: wrap;
}
.card{
  width: 30%;
  height: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.329);
  overflow: hidden;
  text-align: center;
}
.card img{
  height: 50%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.card h1{
  color: #02343f;
  margin: 1rem 0.5rem;
}
.card p{
  margin: 1rem 0.5rem;
  text-overflow: ellipsis;
  max-width: 300px;
  margin: auto;
}
.contact-title{
  background-image: url(images/bg-3.jpg);
  background-position: center;
  background-size: cover;
  height: 10rem;
  color: #f0edcc;
  padding: 3rem 4rem;
}
.contact-title h1{
  font-size: 32px;
  margin-bottom: 1rem;
}
.contact-title p{
  font-size: 14px;
  margin-bottom: 1rem;
  color: #f0edcc85;
}
.contact-container{
  display: flex;
  margin-top: 2rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}
.contact-text{
  flex: 1;
  margin-left: 10rem;
}
.contact-text h1{
  color: #02343f;
  margin-bottom: 1rem;
}
.contact-text h4{
  color: #02343f8e;
}
.contact-text p{
  max-width: 400px;
  line-height: 1.5rem;
  margin: 1rem 0;
}
.contact-form{
  flex: 1;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.527);
  padding: 1rem;
  max-width: 500px;
  margin-right: 10rem;
}
.contact-form input, textarea{
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-collapse: collapse;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #02343f;
}
.contact-form input:focus, textarea:focus{
  border-style: none;
  border-collapse: collapse;
}
.contact-form button{
  background-color: #02343f;
  border: none;
  padding: 0.5rem;
  border-radius: 20px;
  color: #f0edcc;
  margin-left: 1rem;
}
footer{
  background-color: #02343f;
  padding: 20px;
}
footer p{
  color: #f0edcc;
  text-align: center;
  font-size: 12px;
}

@media screen  and (max-width: 768px) {
 .about{
  display: block;
 }
 nav ul{
  display: none;
 }
 .about-images{
  margin-top: 20px;
 }
 .hero-area h1{
  font-size: 32px;
 }
 .card{
  width: 100%;
 }
 .contact-container{
  display: block;
  align-items: center;
  justify-content: center;
 }
 .contact-text, .contact-form{
  width: 80%;
  margin:auto;
 }
}
@media screen  and (max-width: 480px) {
 p{font-size: 12px;}
 .about-images{
  margin-top: 20px;
 }
  main .hero-area{
  padding: 50px;
 }
 .hero-area h1{
  font-size: 18px;
 }
 .hero-area small{
  font-weight: 300;
  font-size: 8px;
 }
 .card{
  width: 100%;
 }
 .card h1{
  font-size: 18px;
 }
}